html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to right bottom,
    oklch(0.424958 0.052808 253.972015),
    oklch(0.189627 0.038744 264.832977)
  );
  font-family: monospace, sans-serif;
}

.container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: oklch(0.916374 0.034554 90.5157);
  border-radius: 8px;
}

div {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: oklch(0.8 0.04 90);
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 oklch(0.8 0.01 90 / 0.08);
}

h1 {
  color: oklch(0.265104 0.006243 0.522862);
  text-align: center;
  margin-bottom: 1rem;
}

button {
  background-color: oklch(0.8 0.04 90);
  color: oklch(0.265104 0.006243 0.522862);
  border: none;
  padding: 8px 16px;
  margin: 4px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: oklch(0.75 0.05 90);
}
